In [1]:
import Analysis4AppendixF as aaf

In [6]:
# function to get unique values
def unique(list1):
 
    # intilize a null list
    unique_list = []
     
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    return(unique_list)

In [2]:
# national register historic sites intersect with roadway lines
aaf.RTP_counted_by_intersection()

                                             geometry
Category
Study                                               4
Transit Oriented Development Implementation         1
Urban Standards                                     1

In [4]:
# national register historic sites intersect with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points')

Empty DataFrame
Columns: [geometry]
Index: []

In [5]:
# national register historic districts intersect with roadway lines
aaf.RTP_counted_by_intersection(file='NationalRegisterHistoricDistrictsCLMPO.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [6]:
# national register historic sites intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed')

                                                geometry
Category
On-Street Lanes or Routes With Road Project            1
On-Street Lanes or Routes Without Road Project         6

In [7]:
# national register historic sites intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points')

Empty DataFrame
Columns: [geometry]
Index: []

In [8]:
# national register historic districts intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed',
                                file='NationalRegisterHistoricDistrictsCLMPO.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                   1
On-Street Lanes or Routes Without Road Project         6

In [9]:
# national register historic districts intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points',
                                file='NationalRegisterHistoricDistrictsCLMPO.shp')

                                                geometry
Category
On-Street Lanes or Routes Without Road Project         1

In [62]:
# national register historic sites intersect with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', transit=True, ftn=True)

In [63]:
sites = res.index

In [64]:
# national register historic districts intersect with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      file='NationalRegisterHistoricDistrictsCLMPO.shp',
                                      transit=True, ftn=True)

In [65]:
districts = res.index

In [66]:
len(unique(list(sites)+list(districts)))

26

In [18]:
datapath = r'T:\MPO\RTP\FY20 2045 Update\Data and Resources\Data\ForAppendixF'

In [16]:
shapefile='stations'
folder='Historic'
file='NationalRegisterHistoricSitesCLMPO.shp'

In [14]:
# check the intersection with the LTD stations
import geopandas as gpd
import os

In [19]:
rtp = gpd.read_file(os.path.join(datapath, 'RTP', shapefile+'.shp'))

In [20]:
rtp['buffered'] = rtp.buffer(100)
rtp = rtp.set_geometry('buffered')
rtp = rtp.to_crs(epsg=3857)
env = gpd.read_file(os.path.join(datapath, folder, file))
joined = gpd.tools.sjoin(rtp, env, how="inner")

In [21]:
joined

,name_left,longitude,latitude,geometry,buffered,index_right,id,name_right,address,city,yrbuilt
8,LTD Eugene Station,-123.093686,44.048119,POINT (-13702726.473 5472891.696),"POLYGON ((-13702626.473 5472891.696, -13702626...",71,2067,Mcdonald Theatre,1004 Willamette St,Eugene,1925

In [22]:
joined = joined.drop_duplicates(subset=['name_left', 'geometry'])
res = joined[['name_left', 'geometry']].groupby(['name_left']).agg('count')

In [23]:
res

                    geometry
name_left
LTD Eugene Station         1

In [2]:
# national register historic sites intersect with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', transit=True)

In [3]:
res

                    geometry
name_left
LTD Eugene Station         1

In [5]:
# national register historic districts intersect with stations
aaf.RTP_counted_by_intersection(shapefile='stations', file='NationalRegisterHistoricDistrictsCLMPO.shp', transit=True)

Empty DataFrame
Columns: [geometry]
Index: []

In [6]:
path = r'T:\MPO\RTP\FY20 2045 Update\Data and Resources\Data\GISData\Updated'
datapath = r'T:\MPO\RTP\FY20 2045 Update\Data and Resources\Data\ForAppendixF'

In [7]:
shapefile='Roadway_lines'
folder='WaterQuality'
file='DEQ303dListedStreams.shp'

In [11]:
import geopandas as gpd
import os

In [2]:
# DEQ303dListedStreams intersect with roadway lines
aaf.RTP_counted_by_intersection(folder='WaterQuality', file='DEQ303dListedStreams.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         1
New Arterial Link or Interchange                           1
Study                                                      5
Urban Standards                                            1

In [3]:
aaf.RTP_counted_by_intersection(folder='WaterQuality', file='DEQ303dListedStreams.shp', returnID=True)

                                                                       RTP_ID
Category
Added Freeway Lanes or Major Interchange Improv...                      {312}
New Arterial Link or Interchange                                        {512}
Study                                               {838, 555, 815, 210, 831}
Urban Standards                                                         {481}

In [11]:
# Navigable Rivers intersect with roadway lines
aaf.RTP_counted_by_intersection(folder='WaterQuality', file='NavigableRivers.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         1
Arterial Capacity Improvements                             2
New Arterial Link or Interchange                           1
New Collectors                                             1
Study                                                      4
Urban Standards                                            5

In [4]:
aaf.RTP_counted_by_intersection(folder='WaterQuality', file='NavigableRivers.shp', returnID=True)

                                                                       RTP_ID
Category
Added Freeway Lanes or Major Interchange Improv...                      {638}
Arterial Capacity Improvements                                     {713, 899}
New Arterial Link or Interchange                                        {512}
New Collectors                                                          {703}
Study                                                    {835, 555, 102, 831}
Urban Standards                                     {747, 826, 827, 828, 765}

In [23]:
# wetlands intersect with roadway lines
aaf.RTP_counted_by_intersection(folder='WaterQuality', file='wetlandsCLMPO.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         2
Arterial Capacity Improvements                             5
New Arterial Link or Interchange                           1
New Collectors                                            14
Study                                                      9
Urban Standards                                           19

In [5]:
aaf.RTP_counted_by_intersection(folder='WaterQuality', file='wetlandsCLMPO.shp', returnID=True)

                                                                                               RTP_ID
Category
Added Freeway Lanes or Major Interchange Improv...                                         {312, 638}
Arterial Capacity Improvements                                              {713, 333, 602, 924, 830}
New Arterial Link or Interchange                                                                {512}
New Collectors                                      {901, 777, 429, 783, 798, 81, 18, 435, 19, 22,...
Study                                                    {96, 835, 838, 555, 815, 210, 211, 917, 831}
Urban Standards                                     {3, 6, 527, 784, 662, 664, 925, 554, 945, 54, ...

In [26]:
# wetlands intersect with roadway lines
df = aaf.RTP_counted_by_intersection(folder='WaterQuality', file='wetlandsCLMPO.shp', returnID=True)

In [28]:
703 in df.loc['New Collectors','RTP_ID']

False

In [29]:
len(unique([747, 826, 827, 828, 765] + list(df.loc['Urban Standards','RTP_ID'])))

20

In [7]:
len(unique([838, 555, 815, 210, 831, 835, 555, 102, 831, 96, 835, 838, 555, 815, 210, 211, 917, 831]))

10

In [14]:
len(unique([713, 899, 713, 333, 602, 924, 830]))

6

In [2]:
# Conservation Opportunity Areas intersect with roadway lines
aaf.RTP_counted_by_intersection(folder='SensitiveHabitats', file='ODFW_COAs_CLMPO.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         2
Arterial Capacity Improvements                             3
New Arterial Link or Interchange                           1
New Collectors                                            15
Study                                                      7
Urban Standards                                           21

In [40]:
df1 = aaf.RTP_counted_by_intersection(folder='SensitiveHabitats', file='ODFW_COAs_CLMPO.shp', returnID = True)

In [42]:
df1

                                                                                               RTP_ID
Category
Added Freeway Lanes or Major Interchange Improv...                                         {312, 638}
Arterial Capacity Improvements                                                        {899, 333, 830}
New Arterial Link or Interchange                                                                {512}
New Collectors                                      {705, 706, 897, 709, 777, 651, 715, 429, 783, ...
Study                                                             {835, 838, 555, 815, 211, 824, 831}
Urban Standards                                     {390, 527, 144, 784, 662, 664, 809, 826, 827, ...

In [4]:
# USFWS Critical Habitats intersect with roadway lines
aaf.RTP_counted_by_intersection(folder='SensitiveHabitats', file='CRITHAB_CLMPO.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         1
Arterial Capacity Improvements                             1
New Collectors                                             1
Urban Standards                                            2

In [41]:
df2 = aaf.RTP_counted_by_intersection(folder='SensitiveHabitats', file='CRITHAB_CLMPO.shp', returnID = True)

In [43]:
df2

                                                        RTP_ID
Category
Added Freeway Lanes or Major Interchange Improv...       {312}
Arterial Capacity Improvements                           {333}
New Collectors                                           {435}
Urban Standards                                     {481, 315}

In [45]:
len(unique(list(df1.loc['New Collectors', 'RTP_ID'])+list(df2.loc['New Collectors', 'RTP_ID'])))

15

In [46]:
len(unique(list(df1.loc['Urban Standards', 'RTP_ID'])+list(df2.loc['Urban Standards', 'RTP_ID'])))

21

In [19]:
# floodway intersects with roadway lines
aaf.RTP_counted_by_intersection(folder='NaturalHazards', file='FloodwayCLMPO.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         2
Arterial Capacity Improvements                             2
New Arterial Link or Interchange                           1
New Collectors                                             2
Study                                                      6
Urban Standards                                            2

In [50]:
aaf.RTP_counted_by_intersection(folder='NaturalHazards', file='FloodwayCLMPO.shp', returnID=True)

                                                                            RTP_ID
Category
Added Freeway Lanes or Major Interchange Improv...                      {312, 638}
Arterial Capacity Improvements                                          {899, 830}
New Arterial Link or Interchange                                             {512}
New Collectors                                                          {897, 756}
Study                                               {835, 838, 555, 815, 210, 831}
Urban Standards                                                          {826, 98}

In [28]:
# seismic hazards intersect with roadway lines
aaf.RTP_counted_by_intersection(folder='NaturalHazards', file='EarthquakeLayer.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         2
Arterial Capacity Improvements                             7
New Arterial Link or Interchange                           1
New Collectors                                            14
Study                                                      9
Transit Oriented Development Implementation                1
Urban Standards                                           20

In [52]:
df = aaf.RTP_counted_by_intersection(folder='NaturalHazards', file='EarthquakeLayer.shp', returnID=True)

In [53]:
df

                                                                                               RTP_ID
Category
Added Freeway Lanes or Major Interchange Improv...                                         {312, 638}
Arterial Capacity Improvements                                    {704, 899, 713, 333, 789, 602, 830}
New Arterial Link or Interchange                                                                {512}
New Collectors                                      {897, 706, 707, 651, 715, 429, 798, 81, 18, 43...
Study                                                    {96, 835, 102, 838, 555, 815, 210, 211, 831}
Transit Oriented Development Implementation                                                     {411}
Urban Standards                                     {6, 390, 527, 144, 662, 664, 925, 809, 554, 94...

In [54]:
df.loc['New Collectors', 'RTP_ID']

{18, 22, 57, 81, 318, 429, 435, 651, 706, 707, 715, 756, 798, 897}

In [56]:
len(unique([835, 838, 555, 815, 210, 831] + list(df.loc['Study', 'RTP_ID'])))

9

In [57]:
df.loc['Urban Standards', 'RTP_ID']

{6,
 54,
 98,
 144,
 315,
 343,
 382,
 390,
 481,
 527,
 554,
 662,
 664,
 747,
 809,
 826,
 827,
 828,
 925,
 945}

In [36]:
# AirQualityMaintenanceArea intersects with roadway lines
aaf.RTP_counted_by_intersection(folder='AirQuality', file='AirQualityMaintenanceArea.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         2
Arterial Capacity Improvements                             9
New Arterial Link or Interchange                           1
New Collectors                                            25
Study                                                     14
Transit Oriented Development Implementation                1
Urban Standards                                           36

In [44]:
# Equity Areas intersect with roadway lines
aaf.RTP_counted_by_intersection(folder='EJ', file='equity_area.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         1
Arterial Capacity Improvements                             2
New Collectors                                             5
Study                                                     12
Transit Oriented Development Implementation                1
Urban Standards                                           11

In [52]:
#MPO area intersects with roadway lines
aaf.RTP_counted_by_intersection(folder='RTP', file='MPO_Boundary.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         2
Arterial Capacity Improvements                             9
New Arterial Link or Interchange                           1
New Collectors                                            25
Study                                                     14
Transit Oriented Development Implementation                1
Urban Standards                                           36

In [3]:
# DEQ303dListedStreams intersect with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='WaterQuality', file='DEQ303dListedStreams.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [12]:
# Navigable Rivers intersect with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='WaterQuality', file='NavigableRivers.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [24]:
# wetlands intersect with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='WaterQuality', file='wetlandsCLMPO.shp')

                                geometry
Category
Arterial Capacity Improvements         2

In [3]:
# Conservation Opportunity Areas intersect with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='SensitiveHabitats', file='ODFW_COAs_CLMPO.shp')

                                geometry
Category
Arterial Capacity Improvements         3

In [5]:
# USFWS Critical Habitats intersect with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='SensitiveHabitats', file='CRITHAB_CLMPO.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [21]:
# floodway intersects with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='NaturalHazards', file='FloodwayCLMPO.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [29]:
# seismic hazards intersect with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='NaturalHazards', file='EarthquakeLayer.shp')

                                geometry
Category
Arterial Capacity Improvements         2
Urban Standards                        1

In [37]:
# AirQualityMaintenanceArea intersects with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='AirQuality', file='AirQualityMaintenanceArea.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         1
Arterial Capacity Improvements                            13
New Collectors                                             1
Study                                                      1
Urban Standards                                            1

In [45]:
# Equity Areas intersect with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='EJ', file='equity_area.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         1
Arterial Capacity Improvements                            10
New Collectors                                             1
Study                                                      1

In [53]:
#MPO area intersects with roadway points
aaf.RTP_counted_by_intersection(shapefile='Roadway_points', folder='RTP', file='MPO_Boundary.shp')

                                                    geometry
Category
Added Freeway Lanes or Major Interchange Improv...         1
Arterial Capacity Improvements                            13
New Collectors                                             1
Study                                                      1
Urban Standards                                            1

In [4]:
# DEQ303dListedStreams intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='WaterQuality', file='DEQ303dListedStreams.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                   2
On-Street Lanes or Routes Without Road Project         2

In [33]:
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='WaterQuality', file='DEQ303dListedStreams.shp', returnID=True)

                                                    RTP_ID
Category
Multi-Use Paths Without Road Project            {960, 804}
On-Street Lanes or Routes Without Road Project  {201, 175}

In [32]:
# Navigable Rivers intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='WaterQuality', file='NavigableRivers.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                   5
On-Street Lanes or Routes With Road Project            2
On-Street Lanes or Routes Without Road Project         4

In [34]:
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='WaterQuality', file='NavigableRivers.shp', returnID=True)

                                                                   RTP_ID
Category
Multi-Use Paths Without Road Project            {169, 753, 854, 122, 189}
On-Street Lanes or Routes With Road Project                    {713, 861}
On-Street Lanes or Routes Without Road Project       {160, 187, 845, 518}

In [25]:
# wetlands intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='WaterQuality', file='wetlandsCLMPO.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                  19
On-Street Lanes or Routes With Road Project            8
On-Street Lanes or Routes Without Road Project        27

In [30]:
df = aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='WaterQuality', file='wetlandsCLMPO.shp', returnID=True)

In [35]:
len(unique([960, 804, 169, 753, 854, 122, 189] + list(df.loc['Multi-Use Paths Without Road Project', 'RTP_ID'])))

19

In [36]:
len(unique([201, 175, 713, 861]+list(df.loc['On-Street Lanes or Routes With Road Project', 'RTP_ID'])))

10

In [37]:
len(unique([201, 175, 160, 187, 845, 518]+list(df.loc['On-Street Lanes or Routes Without Road Project', 'RTP_ID'])))

29

In [7]:
# Conservation Opportunity Areas intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='SensitiveHabitats', file='ODFW_COAs_CLMPO.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                  15
On-Street Lanes or Routes With Road Project            3
On-Street Lanes or Routes Without Road Project        20

In [47]:
df3 = aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='SensitiveHabitats', file='ODFW_COAs_CLMPO.shp', 
                                      returnID = True)

In [6]:
# USFWS Critical Habitats intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='SensitiveHabitats', file='CRITHAB_CLMPO.shp')

                                             geometry
Category
On-Street Lanes or Routes With Road Project         1

In [48]:
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='SensitiveHabitats', file='CRITHAB_CLMPO.shp', returnID=True)

                                            RTP_ID
Category
On-Street Lanes or Routes With Road Project  {315}

In [49]:
315 in list(df3.loc['On-Street Lanes or Routes With Road Project', 'RTP_ID'])

True

In [22]:
# floodway intersects with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='NaturalHazards', file='FloodwayCLMPO.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                   8
On-Street Lanes or Routes Without Road Project         4

In [58]:
df1 = aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='NaturalHazards', file='FloodwayCLMPO.shp', 
                                      returnID=True)

In [30]:
# seismic hazards intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='NaturalHazards', file='EarthquakeLayer.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                  22
On-Street Lanes or Routes With Road Project            6
On-Street Lanes or Routes Without Road Project        33

In [59]:
df2 = aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='NaturalHazards', file='EarthquakeLayer.shp',
                                     returnID=True)

In [60]:
len(unique(list(df1.loc['Multi-Use Paths Without Road Project', 'RTP_ID'])+list(df2.loc['Multi-Use Paths Without Road Project', 'RTP_ID'])))

21

In [61]:
len(unique(list(df1.loc['On-Street Lanes or Routes Without Road Project', 'RTP_ID'])+list(df2.loc['On-Street Lanes or Routes Without Road Project', 'RTP_ID'])))

33

In [38]:
# AirQualityMaintenanceArea intersects with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='AirQuality', file='AirQualityMaintenanceArea.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                  25
On-Street Lanes or Routes With Road Project           14
On-Street Lanes or Routes Without Road Project        51

In [46]:
# Equity Areas intersect with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='EJ', file='equity_area.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                  10
On-Street Lanes or Routes With Road Project            7
On-Street Lanes or Routes Without Road Project        29

In [54]:
#MPO area intersects with bike/pedestrain lines
aaf.RTP_counted_by_intersection(shapefile='BikePed', folder='RTP', file='MPO_Boundary.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                  26
On-Street Lanes or Routes With Road Project           14
On-Street Lanes or Routes Without Road Project        52

In [5]:
# DEQ303dListedStreams intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='WaterQuality', file='DEQ303dListedStreams.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [38]:
# Navigable Rivers intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='WaterQuality', file='NavigableRivers.shp', returnID=True)

                                               RTP_ID
Category
On-Street Lanes or Routes Without Road Project  {721}

In [39]:
# wetlands intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='WaterQuality', file='wetlandsCLMPO.shp', returnID=True)

                                               RTP_ID
Category
On-Street Lanes or Routes Without Road Project   {29}

In [8]:
# Conservation Opportunity Areas intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='SensitiveHabitats', file='ODFW_COAs_CLMPO.shp')

                                                geometry
Category
On-Street Lanes or Routes Without Road Project         2

In [9]:
# USFWS Critical Habitats intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='SensitiveHabitats', file='CRITHAB_CLMPO.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [23]:
# floodway intersects with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='NaturalHazards', file='FloodwayCLMPO.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [31]:
# seismic hazards intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='NaturalHazards', file='EarthquakeLayer.shp')

                                                geometry
Category
On-Street Lanes or Routes Without Road Project         2

In [39]:
# AirQualityMaintenanceArea intersects with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='AirQuality', file='AirQualityMaintenanceArea.shp')

                                                geometry
Category
On-Street Lanes or Routes Without Road Project        14

In [47]:
# Equity Areas intersect with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='EJ', file='equity_area.shp')

                                                geometry
Category
On-Street Lanes or Routes Without Road Project        11

In [55]:
#MPO area intersects with bike/pedestrain points
aaf.RTP_counted_by_intersection(shapefile='BikePed_points', folder='RTP', file='MPO_Boundary.shp')

                                                geometry
Category
On-Street Lanes or Routes Without Road Project        14

In [7]:
# DEQ303dListedStreams intersect with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='WaterQuality', file='DEQ303dListedStreams.shp',
                                      transit=True, ftn=True)

In [8]:
res.shape

(20, 1)

In [9]:
# DEQ303dListedStreams intersect with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='WaterQuality', file='DEQ303dListedStreams.shp',
                                      transit=True)

In [10]:
res.shape

(0, 1)

In [8]:
# Navigable Rivers intersect with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='WaterQuality', file='NavigableRivers.shp',
                                      transit=True, ftn=True)

In [10]:
NR = res.index

In [17]:
# Navigable Rivers intersect with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='WaterQuality', file='NavigableRivers.shp',
                                      transit=True)

In [18]:
res.shape

(0, 1)

In [11]:
# wetlands intersect with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='WaterQuality', file='wetlandsCLMPO.shp',
                                      transit=True, ftn=True)

In [12]:
WL = res.index

In [13]:
len(unique(list(NR)+list(WL)))

31

In [21]:
# wetlands intersect with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='WaterQuality', file='wetlandsCLMPO.shp',
                                      transit=True)

In [22]:
res.shape

(4, 1)

In [86]:
# Conservation Opportunity Areas intersect with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='SensitiveHabitats', file='ODFW_COAs_CLMPO.shp',
                                      transit=True, ftn=True)

In [87]:
COAs = res.index

In [13]:
# Conservation Opportunity Areas intersect with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='SensitiveHabitats', file='ODFW_COAs_CLMPO.shp',
                                      transit=True)

In [14]:
res.shape

(3, 1)

In [88]:
# USFWS Critical Habitats intersect with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='SensitiveHabitats', file='CRITHAB_CLMPO.shp',
                                      transit=True, ftn=True)

In [89]:
crithab = res.index

In [90]:
len(unique(list(COAs) + list(crithab)))

29

In [17]:
# USFWS Critical Habitats intersect with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='SensitiveHabitats', file='CRITHAB_CLMPO.shp',
                                      transit=True)

In [18]:
res.shape

(0, 1)

In [60]:
# floodway intersects with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='NaturalHazards', file='FloodwayCLMPO.shp',
                                      transit=True, ftn=True)

In [71]:
floodwayFTN = res.index

In [26]:
# floodways intersects with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='NaturalHazards', file='FloodwayCLMPO.shp',
                                      transit=True)

In [27]:
res.shape

(0, 1)

In [72]:
# seismic hazards intersect with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='NaturalHazards', file='EarthquakeLayer.shp',
                                      transit=True, ftn=True)

In [73]:
earthquakeFTN = res.index

In [85]:
len(unique(list(floodwayFTN) + list(earthquakeFTN)))

29

In [34]:
# seismic hazards intersect with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='NaturalHazards', file='EarthquakeLayer.shp',
                                      transit=True)

In [35]:
res.shape

(7, 1)

In [40]:
# AirQualityMaintenanceArea intersects with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='AirQuality', file='AirQualityMaintenanceArea.shp',
                                      transit=True, ftn=True)

In [41]:
res.shape

(31, 1)

In [42]:
# AirQualityMaintenanceArea intersects with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='AirQuality', file='AirQualityMaintenanceArea.shp',
                                      transit=True)

In [43]:
res.shape

(10, 1)

In [48]:
# equity_area intersects with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='EJ', file='equity_area.shp',
                                      transit=True, ftn=True)

In [49]:
res.shape

(30, 1)

In [50]:
# equity_area intersects with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='EJ', file='equity_area.shp',
                                      transit=True)

In [51]:
res.shape

(5, 1)

In [56]:
# MPO_area intersects with frequent transit network
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      folder='RTP', file='MPO_Boundary.shp',
                                      transit=True, ftn=True)

In [57]:
res.shape

(31, 1)

In [58]:
# MPO_area intersects with stations
res = aaf.RTP_counted_by_intersection(shapefile='stations', 
                                      folder='RTP', file='MPO_Boundary.shp',
                                      transit=True)

In [59]:
res.shape

(11, 1)