In [1]:
import arcpy, os

In [2]:
path = r'C:\Users\clid1852\OneDrive - lanecouncilofgovernments\data\RTP\Webmaps'

In [3]:
auto_op = '2020_emp_within_30_mins_auto_op.csv'

In [4]:
import pandas as pd

In [8]:
data = pd.read_csv(os.path.join(path, auto_op), header=None)

In [10]:
data.columns = ['TAZ', 'AUTO_OP']

In [11]:
data.head()

   TAZ       AUTO_OP
0    1  99339.546307
1    2   5400.144022
2    3  96215.162088
3    4  59145.997129
4    5  69981.741174

In [16]:
data_2045 = pd.read_excel(os.path.join(path, 'kate_mixed-use_vectors_2020_2045_LCOG.xlsx'), 
                          skiprows = 1, usecols = 'F:I')

In [26]:
data_2045.head()

   transit_pk_45  transit_op_45     auto_pk_45     auto_op_45
0    1111.685130       8.060288  121684.542084  122060.507068
1       0.000000       0.000000    5792.200921    5378.831521
2   31259.129235   32029.577063  116242.591222  122044.526664
3       0.000000       0.000000   67900.827949   74071.527568
4    5731.801513    6118.215998   83349.686810   89174.201837

In [18]:
colnames = ['transit_pk', 'transit_op', 'auto_pk', 'auto_op']

In [25]:
data_2045.columns = [fieldnm + '_45' for fieldnm in colnames]

In [27]:
colnm = 'transit_pk'

In [29]:
data = pd.read_csv(os.path.join(path, '2020_emp_within_30_mins_' + colnm + '.csv'), header=None)

In [30]:
data.columns = ['taz', colnm]

In [ ]:
for colnm in colnames:  
    if colnm == 'transit_pk':
        data = pd.read_csv(os.path.join(path, '2020_emp_within_30_mins_' + colnm + '.csv'), header=None)
        data.columns = ['taz', colnm + '_20']
    else:
        dt = pd.read_csv(os.path.join(path, '2020_emp_within_30_mins_' + colnm + '.csv'), header=None)
        data[colnm + '_20'] = dt.iloc[:,1]