In [1]:
import Analysis4AppendixF as aaf

In [2]:
aaf.RTP_counted_by_intersection()

                                             geometry
Category
Study                                               4
Transit Oriented Development Implementation         1
Urban Standards                                     1

In [4]:
aaf.RTP_counted_by_intersection(shapefile='Roadway_points')

Empty DataFrame
Columns: [geometry]
Index: []

In [5]:
aaf.RTP_counted_by_intersection(file='NationalRegisterHistoricDistrictsCLMPO.shp')

Empty DataFrame
Columns: [geometry]
Index: []

In [6]:
aaf.RTP_counted_by_intersection(shapefile='BikePed')

                                                geometry
Category
On-Street Lanes or Routes With Road Project            1
On-Street Lanes or Routes Without Road Project         6

In [7]:
aaf.RTP_counted_by_intersection(shapefile='BikePed_points')

Empty DataFrame
Columns: [geometry]
Index: []

In [8]:
aaf.RTP_counted_by_intersection(shapefile='BikePed',
                                file='NationalRegisterHistoricDistrictsCLMPO.shp')

                                                geometry
Category
Multi-Use Paths Without Road Project                   1
On-Street Lanes or Routes Without Road Project         6

In [9]:
aaf.RTP_counted_by_intersection(shapefile='BikePed_points',
                                file='NationalRegisterHistoricDistrictsCLMPO.shp')

                                                geometry
Category
On-Street Lanes or Routes Without Road Project         1

In [3]:
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', transit=True, ftn=True)

In [4]:
res.shape

(24, 1)

In [6]:
res = aaf.RTP_counted_by_intersection(shapefile='FrequentTransitNetwork', 
                                      file='NationalRegisterHistoricDistrictsCLMPO.shp',
                                      transit=True, ftn=True)

In [7]:
res.shape

(9, 1)

In [18]:
datapath = r'T:\MPO\RTP\FY20 2045 Update\Data and Resources\Data\ForAppendixF'

In [16]:
shapefile='stations'
folder='Historic'
file='NationalRegisterHistoricSitesCLMPO.shp'

In [14]:
import geopandas as gpd
import os

In [19]:
rtp = gpd.read_file(os.path.join(datapath, 'RTP', shapefile+'.shp'))

In [20]:
rtp['buffered'] = rtp.buffer(100)
rtp = rtp.set_geometry('buffered')
rtp = rtp.to_crs(epsg=3857)
env = gpd.read_file(os.path.join(datapath, folder, file))
joined = gpd.tools.sjoin(rtp, env, how="inner")

In [21]:
joined

,name_left,longitude,latitude,geometry,buffered,index_right,id,name_right,address,city,yrbuilt
8,LTD Eugene Station,-123.093686,44.048119,POINT (-13702726.473 5472891.696),"POLYGON ((-13702626.473 5472891.696, -13702626...",71,2067,Mcdonald Theatre,1004 Willamette St,Eugene,1925

In [22]:
joined = joined.drop_duplicates(subset=['name_left', 'geometry'])
res = joined[['name_left', 'geometry']].groupby(['name_left']).agg('count')

In [23]:
res

                    geometry
name_left
LTD Eugene Station         1

In [2]:
res = aaf.RTP_counted_by_intersection(shapefile='stations', transit=True)

In [3]:
res

                    geometry
name_left
LTD Eugene Station         1

In [4]:
aaf.RTP_counted_by_intersection(shapefile='stations', file='NationalRegisterHistoricDistrictsCLMPO.shp', transit=True)

Empty DataFrame
Columns: [geometry]
Index: []