In [1]:
import geopandas as gpd

In [3]:
import os

In [2]:
path = r'T:\Trans Projects\Model Development\UrbanSim_LandUse\Output\Simulation_47_Final_RTP'

In [4]:
shp = 'parcel_fabric.shp'

In [5]:
parcel_data = gpd.read_file(os.path.join(path, shp))

In [6]:
parcel_data.columns

Index(['btype', 'nrsqft', 'rsqft', 'du', 'yrbuilt', 'lpid', 'pundev',
       'dev_land', 'developed', 'obtype', 'orsqft', 'onrsqft', 'odu', 'zid',
       'rezoned', 'city', 'annexed', 'ozid', 'geometry'],
      dtype='object')

In [7]:
parcel_data.head()

,btype,nrsqft,rsqft,du,yrbuilt,lpid,pundev,dev_land,developed,obtype,orsqft,onrsqft,odu,zid,rezoned,city,annexed,ozid,geometry
0,(),0.0,0.0,0.0,0.0,24284,0.00,1.123953e+04,0,(),0.0,0.0,0.0,119,0,None,0,119,"MULTIPOLYGON (((4254437.869 843733.606, 425444..."
1,"(5100,)",1662.0,0.0,0.0,1969.0,24356,0.15,1.973955e+06,0,"(5100,)",0.0,1662.0,0.0,119,0,None,0,119,"POLYGON ((4254479.021 845048.443, 4254437.869 ..."
2,"(1110,)",0.0,3468.0,1.0,2006.0,24391,0.00,1.099604e+05,0,"(1110,)",3468.0,0.0,1.0,62,0,None,0,62,"POLYGON ((4250857.967 845652.695, 4250847.053 ..."
3,"(1110,)",0.0,1296.0,1.0,1984.0,24408,0.00,6.144933e+04,0,"(1110,)",1296.0,0.0,1.0,62,0,None,0,62,"POLYGON ((4250865.647 845846.211, 4250859.554 ..."
4,"(1110,)",0.0,2528.0,1.0,2015.0,24419,0.00,6.097905e+04,0,"(1110,)",2528.0,0.0,1.0,62,0,None,0,62,"POLYGON ((4250871.702 845998.498, 4250865.647 ..."

In [9]:
parcel_data.shape

(78216, 19)

In [11]:
sorted(parcel_data['yrbuilt'].unique())

[0.0,
 1800.0,
 1850.0,
 1853.0,
 1860.0,
 1863.0,
 1870.0,
 1880.0,
 1885.0,
 1887.0,
 1888.0,
 1889.0,
 1890.0,
 1891.0,
 1892.0,
 1893.0,
 1894.0,
 1895.0,
 1896.0,
 1898.0,
 1899.0,
 1899.5,
 1900.0,
 1901.0,
 1901.5,
 1902.0,
 1903.0,
 1904.0,
 1905.0,
 1906.0,
 1907.0,
 1908.0,
 1909.0,
 1910.0,
 1911.0,
 1912.0,
 1913.0,
 1914.0,
 1915.0,
 1916.0,
 1917.0,
 1917.5,
 1918.0,
 1919.0,
 1919.5,
 1920.0,
 1920.5,
 1921.0,
 1922.0,
 1923.0,
 1923.5,
 1924.0,
 1924.5,
 1925.0,
 1926.0,
 1926.5,
 1927.0,
 1927.5,
 1928.0,
 1928.5,
 1929.0,
 1930.0,
 1931.0,
 1931.5,
 1932.0,
 1932.5,
 1933.0,
 1933.5,
 1934.0,
 1934.5,
 1935.0,
 1935.5,
 1936.0,
 1936.5,
 1937.0,
 1937.5,
 1938.0,
 1938.5,
 1939.0,
 1939.5,
 1940.0,
 1940.5,
 1941.0,
 1941.5,
 1942.0,
 1942.5,
 1943.0,
 1943.5,
 1944.0,
 1944.5,
 1945.0,
 1945.5,
 1946.0,
 1946.5,
 1947.0,
 1947.5,
 1948.0,
 1948.5,
 1949.0,
 1949.5,
 1950.0,
 1950.5,
 1951.0,
 1951.5,
 1952.0,
 1952.5,
 1953.0,
 1953.5,
 1954.0,
 1954.5,
 1955.0,
 1955.5,
 1956.0,
 1956.5,
 1957.0,
 1957.5,
 1958.0,
 1958.5,
 1959.0,
 1959.5,
 1960.0,
 1960.5,
 1961.0,
 1961.5,
 1962.0,
 1962.5,
 1963.0,
 1963.5,
 1964.0,
 1964.5,
 1965.0,
 1965.5,
 1966.0,
 1966.5,
 1967.0,
 1967.5,
 1968.0,
 1968.5,
 1969.0,
 1969.5,
 1970.0,
 1970.5,
 1971.0,
 1971.5,
 1972.0,
 1972.5,
 1973.0,
 1973.5,
 1974.0,
 1974.5,
 1975.0,
 1975.5,
 1976.0,
 1976.5,
 1977.0,
 1977.5,
 1978.0,
 1978.5,
 1979.0,
 1979.5,
 1980.0,
 1980.5,
 1981.0,
 1981.5,
 1982.0,
 1982.5,
 1983.0,
 1983.5,
 1984.0,
 1984.5,
 1985.0,
 1985.5,
 1986.0,
 1986.5,
 1987.0,
 1987.5,
 1988.0,
 1988.5,
 1989.0,
 1989.5,
 1990.0,
 1990.5,
 1991.0,
 1991.5,
 1992.0,
 1992.5,
 1993.0,
 1993.5,
 1994.0,
 1994.5,
 1995.0,
 1995.5,
 1996.0,
 1996.5,
 1997.0,
 1997.5,
 1998.0,
 1998.5,
 1999.0,
 1999.5,
 2000.0,
 2000.5,
 2001.0,
 2001.5,
 2002.0,
 2002.5,
 2003.0,
 2003.5,
 2004.0,
 2004.5,
 2005.0,
 2005.5,
 2006.0,
 2006.5,
 2007.0,
 2007.5,
 2008.0,
 2008.5,
 2009.0,
 2009.5,
 2010.0,
 2010.5,
 2011.0,
 2011.5,
 2012.0,
 2012.5,
 2013.0,
 2013.5,
 2014.0,
 2014.5,
 2015.0,
 2015.5,
 2016.0,
 2016.5,
 2017.0,
 2017.5,
 2018.0,
 2018.5,
 2019.0,
 2021.0,
 2022.0,
 2023.0,
 2024.0,
 2025.0,
 2026.0,
 2027.0,
 2028.0,
 2029.0,
 2030.0,
 2031.0,
 2032.0,
 2033.0,
 2034.0,
 2035.0,
 2036.0,
 2037.0,
 2038.0,
 2039.0,
 2040.0,
 2041.0,
 2042.0,
 2043.0,
 2044.0,
 2045.0]

In [13]:
parcel_data[parcel_data['yrbuilt'] > 2020]['odu'].describe()

count    2703.000000
mean        0.912320
std        10.638641
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max       536.000000
Name: odu, dtype: float64

In [15]:
parcel_data[parcel_data['yrbuilt'] < 2020]['onrsqft'].describe()

count    7.551300e+04
mean     9.496663e+02
std      1.209315e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.117553e+06
Name: onrsqft, dtype: float64

In [16]:
parcel_data[parcel_data['yrbuilt'] > 2020]['nrsqft'].describe()

count    2.703000e+03
mean     1.130654e+04
std      4.718592e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      9.240500e+03
max      1.038311e+06
Name: nrsqft, dtype: float64

In [22]:
parcel_data['btype'].dtypes

dtype('O')

In [30]:
parcel_data[['btype']].head()

     btype
0       ()
1  (5100,)
2  (1110,)
3  (1110,)
4  (1110,)

In [33]:
parcel_data.btype.apply(len).max()

36

In [39]:
parcel_data['btype_len'] = parcel_data.btype.apply(len)
parcel_data.loc[parcel_data.btype_len == parcel_data.btype_len.max(), 'btype']

24842    (1110, 4100, 5100, 6120, 6500, 7100)
Name: btype, dtype: object

In [40]:
parcel_data['btype1'] = parcel_data['btype'].apply(lambda x: str(x)[1:-2].split(', ')[0])

0
1        5100
2        1110
3        1110
4        1110
         ...
78211    1110
78212    1110
78213    4100
78214    1110
78215    1110
Name: btype, Length: 78216, dtype: object